@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
}
<div id="carousel" data-0="background-size:100%;margin-top:0px;" data-400="background-size:125%;margin-top:-500px;">
    <span id="triLogo" data-0="margin-top:7%;" data-400="margin-top:40%;">Trillium Fitness</span>
    <div id="athletes" data-0="bottom:0px;transform:scale(1,1);" data-400="bottom:-100px;transform:scale(1.15,1.15);">&nbsp;</div>
</div>