{
  "Id": "89409608",
  "AccountId": "53472628",
  "WebPropertyId": "UA-53472628-1",
  "InternalWebPropertyId": "86177557",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Europe/London",
  "WebsiteUrl": "http://www.trilliumfitness.co.uk",
  "Type": "WEB",
  "Created": "2014-08-03T11:14:12.416+01:00",
  "Updated": "2014-08-03T11:14:12.416+01:00"
}