<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Blog ANY>
<!ATTLIST Blog id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT Directory ANY>
<!ATTLIST Directory id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1063" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-03T17:24:45" updateDate="2014-08-03T18:05:42" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <Blog id="1064" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2014-08-03T17:25:00" updateDate="2014-08-03T23:59:04" nodeName="Blog" urlName="blog" path="-1,1063,1064" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="Blog">
      <BlogPost id="1068" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2014-08-03T18:52:08" updateDate="2014-08-03T23:59:04" nodeName="First post of the day" urlName="first-post-of-the-day" path="-1,1063,1064,1068" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="BlogPost">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageHeading><![CDATA[First post]]></pageHeading>
        <bodyText><![CDATA[<p>This is the very first blog post from Trillium Fitness</p>]]></bodyText>
        <relatedPages><![CDATA[[]]]></relatedPages>
      </BlogPost>
      <BlogPost id="1069" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2014-08-03T19:02:33" updateDate="2014-08-03T23:59:04" nodeName="Another exciting post" urlName="another-exciting-post" path="-1,1063,1064,1069" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="BlogPost">
        <umbracoNaviHide>0</umbracoNaviHide>
        <relatedPages><![CDATA[[]]]></relatedPages>
      </BlogPost>
      <BlogPost id="1070" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2014-08-03T19:03:31" updateDate="2014-08-03T23:59:04" nodeName="One more time" urlName="one-more-time" path="-1,1063,1064,1070" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="BlogPost">
        <umbracoNaviHide>0</umbracoNaviHide>
        <relatedPages><![CDATA[[]]]></relatedPages>
      </BlogPost>
      <BlogPost id="1071" parentID="1064" level="3" creatorID="0" sortOrder="3" createDate="2014-08-03T19:20:30" updateDate="2014-08-03T23:59:32" nodeName="Last post of the day" urlName="last-post-of-the-day" path="-1,1063,1064,1071" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="BlogPost">
        <umbracoNaviHide>0</umbracoNaviHide>
        <relatedPages><![CDATA[[]]]></relatedPages>
      </BlogPost>
      <umbracoNaviHide>0</umbracoNaviHide>
      <postsPerPage><![CDATA[3]]></postsPerPage>
    </Blog>
    <TextPage id="1067" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2014-08-03T17:31:37" updateDate="2014-08-03T18:05:42" nodeName="Cookie policy" urlName="cookie-policy" path="-1,1063,1067" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <relatedPages><![CDATA[[]]]></relatedPages>
    </TextPage>
    <googleAnalytics><![CDATA[<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53472628-1', 'auto');
  ga('send', 'pageview');

</script>]]></googleAnalytics>
    <siteName><![CDATA[Trillium fitness]]></siteName>
  </Homepage>
</root>