@import "_mixins.scss";
@import "settings";
// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar",
"foundation/components/type";
//   "foundation/components/offcanvas",
// "foundation/components/visibility";

/*	UTILITY & OVERWRITES
----------------------------------------------- */
::-moz-selection {
    background: $trigreen;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $trigreen;
    color: #fff;
    text-shadow: none;
}
div, section, article, aside, header, footer, nav {
    position: relative;
}

/*	TOPBAR
----------------------------------------------- */
.top-bar {
    z-index: 10;
}
.top-bar-section {
    ul li > a {
        letter-spacing: 1.5px;
    }
    .dropdown li.parent-link {
        display: none;
    }    
    h5 {
        font-family: $body-font-family;
    }
}
#logo {
    display: none;
}

/*	TYPOGRAPHY
----------------------------------------------- */
.subhead {
    &:before, &:after {
        content: "";
        display: inline-block;
        background: url(images/quotes-sml.png) no-repeat 0 0;
        width: 10px;
        height: 20px;
        vertical-align: text-top;
    }
    &:after {
        background-position: -10px 0;
    }
}
h1, h2, h3, h4 {
    text-transform: capitalize;
}
.alt-heading {
    font-family: $body-font-family;
    font-weight: bold;
}
.success {
    color: $trigreen;
}
.error {
    color: $alert-color;
}
.service {
     h3 {
        @extend .alt-heading;
        line-height: 34px;
        &:before {
            content: "";
            width: 34px;
            height: 34px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: $tridark;
            background-image: url(images/service-01.png);
            vertical-align: bottom;
        }
        &.ser-2:before {
            background-image: url(images/service-02.png);
        }
        &.ser-3:before {
            background-image: url(images/service-03.png);
        }
        &.ser-4:before {
            background-image: url(images/service-04.png);
        }
    }
}
.staff h3, .testimonial h3, .post h3 {
    @extend .alt-heading;
}
.post {
    h3 {
        a {
            color: $tridark;
        }
        .meta {
            display: block;
            font-weight: normal;
        }
    }
}
.post-meta .meta {
    font-weight: bold;
    margin: 0;
    a {
        color: $tridark;
    }
}
.meta {
    font-size: smaller;
    color: $trigrey;
}
.btn {
    @include button();
    margin-bottom: 0;
    padding: 4px 6px;
    font-size: smaller;
}
footer .meta {
    color: lighten($trigrey, 25%);
}

/*	FORM
----------------------------------------------- */

.form-row {
    padding-bottom: 10px;
    @include my-clearfix;
}
.tf-form {
    input[type=text], input[type=email], input[type=password], textarea {
        font-family: $body-font-family;
        font-size: 1em;
        padding: 8px;
        width: 100%;
        border: none;
        background: $tritan;
        &:focus {
            background: $tritan-lite;
        }
    }
    label {
        visibility: hidden;
        position: absolute;
    }
    input.input-validation-error {
    }
    .field-validation-error {
        display: block;
        padding: 4px 8px;
        font-size: 0.85em;
        font-style: italic;
        color: #fff;
        background: $alert-color;
    }
    textarea {
        resize: vertical;
        height: 125px;
        float: left;
    }
}
#contactForm {
    input.btn {
        padding: 4px 6px;
    }
}
input.btn {
    @include button($is-input: true);
}

/*	LAYOUT
----------------------------------------------- */
.tf-row {
    @include grid-row();
    .block {
        @include grid-column(12);
        padding-top: 0.9375em;
        padding-bottom: 0.9375em;
    }
    .staff {
        text-align: center;
        padding-top: 0.9375em;
        padding-bottom: 0.9375em;
        h3, p {
            text-align: left;
        }
    }
    .service {
        padding: 0.9375em 0;
        border-bottom: 1px solid lighten($trigrey, 60%);
    }
    .testimonial {
        padding: 0.9375em 0;
        border-bottom: 1px solid lighten($trigrey, 60%);
        margin-bottom: 0.9375em;
    }
    .compare-img {
        padding: 0.9375em 0;
        text-align: center;
        img {
            position: relative;
            border-radius: 50%;
            &.before {
                margin: 0 0.9375em 0.9375em 0;
                border: 4px solid $trimono;
            }
            &.after {
                border: 6px solid $trigreen;
            }
        }
    }
}
#latestPosts, #contact, #infoCol {
    @include grid-column(12, $collapse: true);
}
#carousel {
    padding-left: 0;
    padding-right: 0;
    z-index: -1;
}
.body {
    padding: 0.9375em 0;
    border-bottom: 1px solid lighten($trigrey, 60%);
    margin-bottom: 1.9375em;
}
.post {
    padding: 0.9375em 0;
    border-bottom: 1px dashed lighten($trigrey, 60%);
}
.post-img {
    margin-bottom: 0.9375em;
}
.post-meta {
    padding: 0.9375em 0;
}
footer {
    background: $tridark;
    color: #fff;
    text-align: center;
    padding: 1.9375em 0;
}
.block {
    z-index: 1;
}
.bg-row {
    background: #fff;
    overflow: hidden;
    &.rw-1 {
        background: lighten($tritan-lite, 1%);
    }
    &.rw-3 {
        background: $tritan-lite;
    }
    /*&:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        background:inherit;
        padding-bottom:41%; 
        width:54.6%;
        z-index:0;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        -webkit-transform: rotate(-24.2deg) skewX(42deg);
        -ms-transform: rotate(-24.2deg) skewX(42deg);
        transform: rotate(-24.2deg) skewX(42deg);
    }*/
    /*&:after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 0;
        background:inherit;
        padding-bottom:50%; width:57.7%;
        z-index:-1;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        -webkit-transform: rotate(-30deg) skewX(30deg);
        -ms-transform: rotate(-30deg) skewX(30deg);
        transform: rotate(-30deg) skewX(30deg);
    }*/
}
@media #{$medium-up} {
    .tf-row {
        .block {
            @include grid-column(10, $center: true);
            &:first-child {
                padding-top: 1.9375em;
            }
            &:last-child {
                padding-bottom: 1.9375em;
            }
        }
        .staff, .testimonial {
            @include grid-column(6);
            &:nth-child(odd) {
                clear: left;
            }
        }
        .testimonial {
            border-bottom: none;
            &:nth-child(odd) {
                border-right: 1px solid lighten($trigrey, 60%);
            }
        }
        .compare-img {
            height: 0;
            padding: 0 0 75%;
            margin-bottom: 0.9375em;
            img {
                &.before {
                    margin: 0;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                &.after {
                    left: 45px;
                    top: -0.9375em;
                }
            }
        }
    }
    #latestPosts, #contact, #infoCol {
        @include grid-column(12, $collapse: false);
    }
    .multi-col {
        margin-left: -0.9375em;
        margin-right: -0.9375em;
        h1, h2, .body {
            padding-left: 0.9375em;
        }
        #contact, #infoCol {
            h1, h2, .body {
                padding-left: 0;
            }
        }
    }
    .post h3 .meta {
        display: inline;
        padding-left: 0.9375em;
    }
    .bg-row {        
        &.rw-1 {
            &:before, &:after {
                background: #fff !important;
            }
        }
        &.rw-2 {
            &:before, &:after {
                background: lighten($tritan-lite, 1%) !important;
            }
        }
        &.rw-3 {
            &:before, &:after {
                background: #fff !important;
            }
        }
        &:before, &:after {
            display: block;
            content: "";
            position: absolute;
            top: -50px;
            left: 0;
            height: 100px;
            width: 50.1%;
            -webkit-transform: skew(0deg, 8deg);
            -moz-transform: skew(0deg, 8deg);
            -ms-transform: skew(0deg, 8deg);
            -o-transform: skew(0deg, 8deg);
            transform: skew(0deg, 8deg);
        }
        &:after {
            left: initial;
            right: 0;
            width: 50%;
            -webkit-transform: skew(0deg, -8deg);
            -moz-transform: skew(0deg, -8deg);
            -ms-transform: skew(0deg, -8deg);
            -o-transform: skew(0deg, -8deg);
            transform: skew(0deg, -8deg);
        }
    }
    #Homepage {
        .rw-end {
            &:before, &:after {
                background: $tritan-lite !important;
            }
            .block {
            }
        }
    }
}

@media #{$tablet-up} {
/*	TOPBAR
----------------------------------------------- */
    .top-bar {
        background: transparent;
        position: absolute;
        width: 100%;
    }
    .top-bar-section {
        top: 30px;
        ul {
            background: transparent;
            width: 100%;
            text-align: center;
            li {
                float: none;
                background: transparent;
                display: inline-block;
                a {
                    background: transparent;
                }
                &.active {
                    &:not(.has-form) a {
                        &:not(.button), &:not(.button):hover {
                            background: transparent;
                            color: $trigreen;
                            border-color: $trigreen;
                        }
                    }
                }
                &:not(.has-form) a:not(.button) {
                    background: transparent;
                    border-width: 1px;
                    border-style: solid;
                    border-color: transparent;
                    &:hover {
                        background: transparent;
                        color: $trigreen;
                        border-color: $trigreen;
                    }
                }
            }
            &.dropdown {
                text-align: left;
                display: none !important;
            }
        }
        .has-dropdown {
            > a {
                padding-right: 13.33333px !important;
                &:after {
                    display: none;
                }
            }
        }
    }
    .tf-row {
        .staff, .testimonial {
            @include grid-column(4);
            &:nth-child(odd) {
                clear: none;
            }
            &:nth-child(3n + 3) {
                border-right: none;
            }
            &:nth-child(3n + 4) {
                clear: left;
            }
        }
        .testimonial:nth-child(even) {
            border-right: 1px solid lighten($trigrey, 60%);
        }
    }
    #contact {
        @include grid-column(9);
    }
    #infoCol {
        @include grid-column(3);
        padding-top: 50.4px;
    }
    #latestPosts {
        @include grid-column(9);
    }
}

@media #{$large-up} {
    .tf-row {
        .block {
            @include grid-column(8, $center: true);
        }
    }
    #contact {
        @include grid-column(9);
    }
    #infoCol {
        @include grid-column(3);
    }
}

@media #{$xlarge-up} {
    .tf-row {
        .compare-img {
            img {
                &.before {
                    left: 0.9375em;
                }
                &.after {
                    left: 1.9375em;
                    top: 0;
                }
            }
        }
    }
}