@using Trillium.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    var pageTitle = Model.Content.HasValue("pageHeading") ? Model.Content.GetPropertyValue("pageHeading") : Model.Content.Name;
    var postDate = Model.Content.GetPropertyValue<DateTime>("publishDate") == default(DateTime)
                                                    ? Model.Content.CreateDate
                                                    : Model.Content.GetPropertyValue<DateTime>("PublishDate");
}

<article>
    <header>
        <h1>@pageTitle</h1>
    </header>
    <section class="meta">
        <p>Published on: @postDate.ToString("f")</p>
    </section>
    <section class="page-media">
        @if (Model.Content.HasValue("pageMedia"))
        {
            if (Model.Content.MntpCount("pageMedia") == 1)
            {
                @Model.Content.ImagesFor("pageMedia", 1)
            }
        }
    </section>
    @Umbraco.Field("bodyText")
</article>
