@using Trillium.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}

@{
    var displayNodes = Model.Content.MntpNodesFor("displayBlocks", 4);

    foreach (var page in displayNodes.Where(p => p.IsVisible()))
    {
        var heading = page.Name;
        var subheading = "";
        HtmlString bodycopy = null;

        if (page.HasValue("widgetHeading"))
        {
            heading = page.GetPropertyValue<string>("widgetHeading");
        } else if (page.HasValue("pageHeading"))
        {
            heading = page.GetPropertyValue<string>("pageHeading");
        }

        if (page.HasValue("widgetSubheading"))
        {
            subheading = page.GetPropertyValue<string>("widgetSubheading");
        } else if (page.HasValue("subheading"))
        {
            subheading = page.GetPropertyValue<string>("subheading");
        }

        if (page.HasValue("widgetCopy"))
        {
            bodycopy = page.GetPropertyValue<HtmlString>("widgetCopy");
        } else if (page.HasValue("bodyText"))
        {
            bodycopy = page.GetPropertyValue<HtmlString>("bodyText");
        }
        
        <div class="tf-row bg-row rw-@page.Index()">
            <div class="block">
                <h1>@heading</h1>
                @if (!string.IsNullOrEmpty(subheading))
                {
                    <h2 class="subhead">@subheading</h2>
                }
                @if (bodycopy != null)
                {
                    <div class="body">
                        @bodycopy
                        @if (page.Id == 1121) {
                            <a href="@page.Url" class="btn" title="read more on @heading">Read more</a>
                        }
                    </div>
                }
                
                @{ Html.RenderPartial("ListSubPages", page, new ViewDataDictionary {{"isHomepage", true}}); }

            </div>
        </div>
    }
}

@section customScript
{
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'trilliumfitnessuk'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
}
